 <% if logged_in?(:site_admin) %>
    <p class="blog-post-meta">
      <%= link_to blog.status, toggle_status_blog_path(blog), method: :post, style: blog_status_color(blog) %> /
      <%= link_to 'Edit', edit_blog_path(blog) %> /
      <%= link_to 'Destroy Post', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
