<h3 class="pb-4 mb-4 fst-italic border-bottom">
  From the Firehose
</h3>
<%= render @blogs %>
<nav class="blog-pagination" aria-label="Pagination">
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-outline-primary"  if logged_in?(:site_admin) %>
</nav>
