<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<div class="row">
  <div class="col-sm">
    <p><%= number_to_phone "55555555555" %></p>
    <p><%= number_to_currency "150" %></p>
    <p><%= number_to_percentage "80.4" %></p>
    <p><%= number_with_delimiter "2324928" %></p>
    <p><a href="mailto:eisan-system@example.com?subject=PortfolioContact">Email me</a></p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1957.5656383138871!2d139.63089099586563!3d35.44591093350679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185cf51e48c733%3A0x9cd4ac9592c705d4!2z44CSMjMxLTAwNDIg56We5aWI5bed55yM5qiq5rWc5biC5Lit5Yy656aP5a-M55S66KW_6YCa77yR4oiS77yYIOODl-ODquODoeODvOOCuOahnOacqOeUug!5e0!3m2!1sja!2sjp!4v1641649673252!5m2!1sja!2sjp" class="col-sm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
