<h1>Tech News</h1>
<p>Rails news</p>
<hr>
<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-md-6">
      <div class="tech-news">
        <div class="card">
        <%= twitter_parser(tweet) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
